In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df=pd.read_csv("../../data/Stock Regression/TSLA Historical Data 2015-2024.csv")
df.head(15)

          Date   Price    Open    High     Low  Vol.(Millions)  Change
0   11/15/2024  320.72  310.57  324.68  309.22          114.44  0.0307
1   11/14/2024  311.18  327.69  329.98  310.37          120.73 -0.0577
2   11/13/2024  330.24  335.85  344.60  322.50          125.41  0.0053
3   11-12-2024  328.49  342.74  345.84  323.31          155.73 -0.0615
4   11-11-2024  350.00  346.30  358.64  336.00          210.52  0.0896
5   11-08-2024  321.22  299.14  328.71  297.66          204.78  0.0819
6   11-07-2024  296.91  288.89  299.75  285.52          117.31  0.0290
7   11-06-2024  288.53  284.67  289.59  275.62          165.23  0.1475
8   11-05-2024  251.44  247.34  255.28  246.21           69.28  0.0354
9   11-04-2024  242.84  244.56  248.90  238.88           68.80 -0.0247
10  11-01-2024  248.98  252.04  254.00  246.63           57.54 -0.0035
11  10/31/2024  249.85  257.99  259.75  249.25           66.58 -0.0299
12  10/30/2024  257.55  258.04  263.35  255.82           53.99 -0.0076
13  10/29/2024  259.52  264.51  264.98  255.51           80.52 -0.0114
14  10/28/2024  262.51  270.00  273.54  262.24          107.65 -0.0248

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2486 entries, 0 to 2485
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            2486 non-null   object
 1   Price           2486 non-null   float64
 2   Open            2486 non-null   float64
 3   High            2486 non-null   float64
 4   Low             2486 non-null   float64
 5   Vol.(Millions)  2486 non-null   float64
 6   Change          2486 non-null   float64
dtypes: float64(6), object(1)
memory usage: 136.1+ KB

The change field is string type and has '%' symbol. this function and code block is to remove that

In [4]:
temp_df=pd.read_csv('../../data\Stock Regression\TSLA Historical Data 2015-2024.csv',usecols=['Change'])

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\parth\AppData\Local\Temp\ipykernel_29200\2732714053.py:1: SyntaxWarning: invalid escape sequence '\S'
  temp_df=pd.read_csv('../../data\Stock Regression\TSLA Historical Data 2015-2024.csv',usecols=['Change'])

In [5]:
# def clean_str(strings):
#     return strings[:-1]

In [6]:
# for rows in temp_df.iterrows():
#     rows=clean_str(rows)

In [7]:
print(temp_df)

      Change
0     0.0307
1    -0.0577
2     0.0053
3    -0.0615
4     0.0896
...      ...
2481 -0.0014
2482 -0.0021
2483  0.0057
2484 -0.0417
2485 -0.0142

[2486 rows x 1 columns]

In [8]:
convert_dict={'Change': float}
df=df.astype(convert_dict)

In [9]:
df.columns

Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.(Millions)', 'Change'], dtype='object')

In [10]:
df.describe()

,Price,Open,High,Low,Vol.(Millions),Change
count,2486.000000,2486.000000,2486.000000,2486.000000,2486.000000,2486.000000
mean,112.325173,112.347377,114.810125,109.728190,112.708954,0.001881
std,110.617849,110.702729,113.167925,108.012873,74.453757,0.035976
min,9.580000,9.490000,10.330000,9.400000,10.650000,-0.210600
25%,17.130000,17.112500,17.392500,16.800000,66.885000,-0.016075
50%,25.285000,25.200000,25.645000,24.795000,93.140000,0.001250
75%,218.210000,218.535000,222.572500,213.040000,130.585000,0.019075
max,409.970000,411.470000,414.500000,405.670000,914.080000,0.219200

To check whether there are any NULL values present in the dataset

In [11]:
df.isnull().sum()

Date              0
Price             0
Open              0
High              0
Low               0
Vol.(Millions)    0
Change            0
dtype: int64

The date entries are not in the same format in the .csv file. 
Changing that to dd-mm-yyyy format

In [12]:
df['Date'] =pd.to_datetime(df.Date,format='mixed')
print(df['Date'])

0      2024-11-15
1      2024-11-14
2      2024-11-13
3      2024-11-12
4      2024-11-11
          ...
2481   2015-01-08
2482   2015-01-07
2483   2015-01-06
2484   2015-01-05
2485   2015-01-02
Name: Date, Length: 2486, dtype: datetime64[ns]

In [13]:
df['Date']=df['Date'].dt.strftime('%d/%m/%y')
print(df['Date'])

0       15/11/24
1       14/11/24
2       13/11/24
3       12/11/24
4       11/11/24
          ...
2481    08/01/15
2482    07/01/15
2483    06/01/15
2484    05/01/15
2485    02/01/15
Name: Date, Length: 2486, dtype: object

Convert the cleaned dataframe to csv file and add it to the repository

In [14]:
df.to_csv("../../data/Stock Regression/Cleaned/TSLA Cleaned Data 2-15-2024.csv")